@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/ManagerLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="jumbotron">
                    Merhaba @Context.Session.GetString("FullName") Hoşgeldiniz.
                </div>
            </div>
        </div>
    </div>
</div>

